* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;

}
.main {
  margin: 0 auto;
  padding: 50px 30px;
  width: 80%;
  text-align: center;
  margin-top: 100px;
}
.btn {
  margin-top: 20px;
  padding: 10px;
  color: black;
border: 2px solid black;
  border-radius: 10px;
}
input {
  padding: 10px 40px;
}
.one,
.three {
  background-color: rgba(66, 133, 11, 0.836);
}
.two,
.four {
  background-color: rgba(95, 16, 16, 0.904);
}
.five,
.six {
  background-color: black;
  color: blanchedalmond;
  border: 2px solid blanchedalmond;
}

.con {
  position: relative;
}

.display {
  border: 2px solid black;
  background-color: gainsboro;
  padding: 20px;
  /* width: 35%; */
  margin-top: 10px;
}
.item {
  background-color: black;
  border: 2px solid gray;
  padding: 5px;
  color: blanchedalmond;
}
.btncon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}
